<div ng-controller="CheckPackageCtrl" ng-cloak class="check-package">
  <div class="container">
    <div class="row">
      <div class="col-md-4 wow animated fadeInLeft">
        <div class="welcome-block">
          <h3>ค้นหาเบี้ยประกันภัย</h3>								
          <div class="message-body">
            <form action="#" method="post">
              <div class="input-field">
                <label>รายละเอียดรถยนต์:</label>
              </div>
              <div class="input-field">
                <select class="form-control" ng-model="formSearch.year" data-select-search ng-change="selectWatch('year')">
                  <option value="">เลือกปี</option>
                  <option ng-repeat="year in data.Years">{{year.yName}}</option>
                </select>
              </div>
              <div class="input-field">
                <select class="form-control" ng-model="formSearch.brand" data-select-search ng-change="selectWatch('brand')" ng-show="formSearch.year !== undefined">
                  <option value="">เลือกยี้ห้อ</option>
                  <option ng-repeat="brand in data.Brands" value="{{brand.bId}}">{{brand.bName}}</option>
                </select>
              </div>
              <div class="input-field">
                <select class="form-control" ng-model="formSearch.series" data-select-search ng-change="selectWatch('series')" ng-show="formSearch.brand !== undefined">
                  <option value="">เลือกรุ่น</option>
                  <option ng-repeat="series in data.Series">{{series.sName}}</option>
                </select>
              </div>
              <button type="submit" id="submit" class="btn btn-danger">ยกเลิก</button>
              <button type="submit" id="submit" class="btn btn-info">ค้นหา</button>
            </form>  
          </div>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
        <div class="recent-works">
          <h3>ขั้นตอนการสมัคร</h3>
          <div id="works">
            <div class="work-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> <br> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
            <div class="work-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
            <div class="work-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>