<div ng-controller="SlideCtrl" ng-cloak class="temp-slide">
<a class="popup" href="{{popupUrl}}" title=""></a>
  <div id="wrapper" ng-if="slides"> 
    <div id="myGallery1" class="royalSlider clearfix">
      <ul class="royalSlidesContainer" id="testId">
        <li class="royalSlide" ng-repeat="slide in slides"> 
          <div style="background-image:url({{uploads}}slides/{{slide.slImage}});">
            <div class="royalCaption">
              <div class="royalCaptionItem title" data-show-effect="moveleft fade"  data-move-offset="10">{{slide.slTitle}}</div>
              <div class="royalCaptionItem content" data-show-effect="moveleft fade" data-delay="400" data-move-offset="15" >{{slide.slDes}}
                <p><a href="slide.slLink" target="_self" ng-if="slide.slLink">
                    <button type="button" class="btn_link btn btn-primary btn-lg" ng-if="slide.slLinkName">{{slide.slLinkName}}</button>
                    <button type="button" class="btn_link btn btn-primary btn-lg" ng-if="!slide.slLinkName">คลิก</button>
                  </a><p>
              </div>
            </div>   
            <img src="{{uploads}}slides/{{slide.slImage}}">
          </div>
        </li>

                    
<!--                    <li class="royalSlide"> 
        
                       <div  style="background-image:url({site_url()}content/images/slide/{$slide[i]->SlidePic});">
                       <div class="royalCaption">
                        <div class="royalCaptionItem title" data-show-effect="moveleft fade"  data-move-offset="10">จ่ายแพงกว่าทำไม</div>
                        <div class="royalCaptionItem content" data-show-effect="moveleft fade" data-delay="400" data-move-offset="15" >วันนี้ต่อประกันในราคาต้นทุน ดีกว่ามั้ย
                        
                        <p><a href="#" target="_self" class="" title="BTN">BTN</a><p>
                        <button type="button" class="btn_link btn btn-primary btn-lg">อ่านต่อ</button>
                        
                        </div>
                      </div>                               	
                      
                      <img src="{{assets}}img/piggy-bank_2283301b.jpg">
                        </div>
                    </li>
                    <li class="royalSlide"> 
        
                       <div  style="background-image:url({site_url()}content/images/slide/{$slide[i]->SlidePic});">
                       <div class="royalCaption">
                        <div class="royalCaptionItem title" data-show-effect="moveleft fade"  data-move-offset="10">ที่ปรึกษาด้านประกันรถยนต์</div>
                        <div class="royalCaptionItem content" data-show-effect="moveleft fade" data-delay="400" data-move-offset="15" >เข้ามาเป็นส่วนหนึ่งของเรา มาเป็นที่ปรึกษาด้านประกันรถยนต์
                        
                        <p><a href="#" target="_self" class="" title="BTN">BTN</a><p>
                        <button type="button" class="btn_link btn btn-primary btn-lg">สมัครเป็นที่ปรึกษา</button>
                        
                        </div>
                      </div>                               	
                      
                      <img src="{{assets}}img/kick-your-own-butt-2-professionalvas.jpg">
                        </div>
                    </li>-->

      </ul>                 
    </div>        
  </div>


</div>