<div ng-controller="StepCtrl">
  <div class="container">
    <div class="row">
<!--      <div class="sec-title text-center">
        <h2 class="wow animated bounceInLeft">สมัครง่าย คลิกเลย</h2>
      </div>-->

      <div class="col-md-2 col-sm-1 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
        <div class="service-item">          
        </div>
      </div>
      <div class="col-md-8 col-sm-10 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
        <div class="service-item">          
          <iframe src="https://www.youtube.com/embed/Qfr1kQ-ogOo" frameborder="0" allowfullscreen style="width: 100%; height: 300px;"></iframe>
          <br>
          <br>
        </div>
      </div>
      <div class="col-md-2 col-sm-1 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
        <div class="service-item">          
        </div>
      </div>

    </div>
  </div>
</div>