<div ng-controller="SlideCtrl" ng-cloak class="temp-slide">
      
<!--    <div id="slides">
      <img src="{{assets}}img/example-slide-1.jpg" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
      <img src="{{assets}}img/example-slide-2.jpg" alt="Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/">
      <img src="{{assets}}img/example-slide-3.jpg" alt="Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/">
      <img src="{{assets}}img/example-slide-4.jpg" alt="Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/">
      <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
      <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
    </div>-->

<!--  <div class="container">
    <div class="row">
      <div class="col-md-12 wow animated fadeInLeft">
        <h1 class="white">ลุ้นฟรี! Benz S-class</h1>
        <p class="white">เพียงซื้อประกันรถยนต์ผ่านเวบไซต์ Insurancebroker360
          ลุ้นฟรี! Benz S-class</p>
        <p>&nbsp</p>
        <a href="#searchForm" class="btn btn-effect bg-orange"><p>คลิก สมัครเลย!!</p></a>
      </div>
    </div>
  </div>-->

<!--  <div class="container">
    <div class="row">
      <div class="col-md-12 wow animated fadeInLeft">
        <h1 class="white">เพียงสมัครสมาชิค ลุ้นรับ Benz S-class ฟรี!!</h1>
        <p class="white">เพียงซื้อประกันรถยนต์ผ่านเวบไซต์ Insurancebroker360
          ลุ้นฟรี! Benz S-class</p>
        <p>&nbsp</p>
        <a href="#searchForm" class="btn btn-effect bg-orange"><p>คลิก สมัครฟรี 0 บาท</p></a>
      </div>
    </div>
  </div>-->



			<div id="wrapper"> 
				<div id="myGallery1" class="royalSlider clearfix">
				 
					<ul class="royalSlidesContainer" id="testId">
						<li class="royalSlide"> 

						   <!--<div  style="background-image:url({site_url()}content/images/slide/{$slide[i]->SlidePic});">-->
						   <div class="royalCaption">
								<div class="royalCaptionItem title" data-show-effect="moveleft fade"  data-move-offset="10">Title</div>
								<div class="royalCaptionItem content" data-show-effect="moveleft fade" data-delay="400" data-move-offset="15" >Description
								
								<!--<p><a href="#" target="_self" class="" title="BTN">BTN</a><p>-->
								<button type="button" class="btn_link btn btn-primary btn-lg">button link</button>
								
								</div>
							</div>                               	
							
							<img src="{{assets}}img/example-slide-1.jpg">
						    <!--</div>-->
            </li>
						<li class="royalSlide"> 

						   <!--<div  style="background-image:url({site_url()}content/images/slide/{$slide[i]->SlidePic});">-->
						   <div class="royalCaption">
								<div class="royalCaptionItem title" data-show-effect="moveleft fade"  data-move-offset="10">Title</div>
								<div class="royalCaptionItem content" data-show-effect="moveleft fade" data-delay="400" data-move-offset="15" >Description
								
								<!--<p><a href="#" target="_self" class="" title="BTN">BTN</a><p>-->
								<button type="button" class="btn_link btn btn-primary btn-lg">button link</button>
								
								</div>
							</div>                               	
							
							<img src="{{assets}}img/example-slide-2.jpg">
						    <!--</div>-->
            </li>
						<li class="royalSlide"> 

						   <!--<div  style="background-image:url({site_url()}content/images/slide/{$slide[i]->SlidePic});">-->
						   <div class="royalCaption">
								<div class="royalCaptionItem title" data-show-effect="moveleft fade"  data-move-offset="10">Title</div>
								<div class="royalCaptionItem content" data-show-effect="moveleft fade" data-delay="400" data-move-offset="15" >Description
								
								<!--<p><a href="#" target="_self" class="" title="BTN">BTN</a><p>-->
								<button type="button" class="btn_link btn btn-primary btn-lg">button link</button>
								</div>
							</div>                               	
							
							<img src="{{assets}}img/example-slide-3.jpg">
						    <!--</div>-->
            </li>
					</ul>                 
				</div> <!-- Gallery End -->        
			</div> <!-- #wrapper end -->



</div>