<div ng-controller="CheckPackageCtrl" ng-cloak class="check-package">
  <div class="bg-color-theme">
  <div class="container padding-style">
      
     <br>
     <button type="button" class="btn btn-primary" ng-click="needToRister = true" ng-show="!needToRister">สมัครเลย</button> 
     
     <span style="color:#ffffff;" style="float: left;" ng-show="!needToRister">ลองเข้ามาเป็นที่ปรึกษาด้านรถยนต์</span>
     <span style="color:#ffffff;" style="float: left;" ng-show="needToRister">กรอกรายละเอียดเลย</span>
     <img src="{{assets}}images/sign-up-icon-800x800.png" style="display: inline;float: left;margin-top: -4px; margin-right: 10px; width: 40px;  height: 40px;" />
     <div class="clear"></div>
      <div class="col-md-12 wow animated fadeInLeft" ng-if="needToRister && saveMember.status !== 'success'">
          <div class="box-register box-form" style="background-color: #ffffff;">
            <form ng-submit="submitRegisterForm()">
              <div class="input-field">
                <label>ลงทะเบียน :</label>
              </div>
              <div class="form-group">
                <label>หมายเลขบัตรประชาชน :</label>
                <input type="text" name="idCard" class="form-control" ng-model="formRegister.idCard" placeholder="หมายเลขบัตรประชาชน" maxlength="13" pattern="\d*" required title="กรอกเฉพาะตัวเลขเท่านั้น">
              </div>
              <div class="form-group">
                <label>ชื่อ-นามสกุล :</label>
                <input type="text" name="fullname" class="form-control" ng-model="formRegister.fullname" placeholder="ชื่อ-นามสกุล" required title="กรอก ชื่อ-นามสกุล">
              </div>
              <div class="form-group">
                <label>ที่อยู่ :</label>
                <input type="text" name="address" class="form-control" ng-model="formRegister.address" placeholder="ที่อยู่" required title="กรอก ที่อยู่">
              </div>
              <div class="form-group">
                <label>เบอร​์โทรศัพท์ :</label>
                <input type="text" name="tel" class="form-control" ng-model="formRegister.tel" placeholder="เบอร​์โทรศัพท์" required pattern="\d*" title="กรอกเฉพาะตัวเลขเท่านั้น">
              </div>
              <div class="form-group">
                <label>อีเมล์ :</label>
                <input type="text" name="email" class="form-control" ng-model="formRegister.email" placeholder="อีเมล์" required title="กรอก อีเมล์">
              </div>
              <div class="form-group">
                <label>ประกันที่เคยทำ :</label>
                <input type="text" name="text" class="form-control" ng-model="formRegister.oldInsurance" placeholder="อีเมล์" required title="กรอก อีเมล์">
              </div>
              <div class="form-group">
                <label>สนใจต่อจากเจ้าเดิมหรือป่าว :</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="text" ng-model="formRegister.oldInsuranceRegister" value="0" required>
                  ต่อเจ้าเดิม
                </label>
                <label>
                  <input type="radio" name="text" ng-model="formRegister.oldInsuranceRegister" value="1" required>
                  ต่อเจ้าใหม่
                </label>
              </div>
              <div class="input-field" ng-if="data.Brands">
                <label>รถที่ใช้งานปัจจุบัน :</label>
                <select class="form-control" ng-model="formRegister.brand" data-select-search ng-change="selectWatch('brand')" required>
                  <option value="">เลือกยี้ห้อ</option>
                  <option ng-repeat="brand in data.Brands" value="{{brand.bName}}">{{brand.bName}}</option>
                </select>
              </div>
<!--              <div class="form-group">
                <label>รูปภาพ (เอกสาร สำเนาบัตรประชาชน) :</label>
                <input type="file" class="form-control" ng-model="formRegister.file" placeholder="รูปภาพ (เอกสาร สำเนาบัตรประชาชน)" required title="แนบเอกสาร สำเนาบัตรประชาชน">
              </div>-->
              <div class="form-group">
                <label>Username :</label>
                <input type="text" name="username" class="form-control" ng-model="formRegister.username" placeholder="Username" required title="กรอก ชื่อผู้้ใช้">
              </div>
              <div class="form-group">
                <label>Password :</label>
                <input type="password" name="password" class="form-control" ng-model="formRegister.password" placeholder="Password" required title="กรอก รหัสผ่าน">
<!--                <br>
                <input type="password" name="passwordConfirm" class="form-control" ng-model="formRegister.passwordConfirm" placeholder="Password Confirm" required title="ยืนยัน รหัสผ่าน">-->
              </div>
              <button type="submit" class="btn btn-default btn-lg btn-block">ลงทะเบียน</button>
              <button type="button" class="btn btn-default btn-lg btn-block"  ng-click="$parent.needToRister = false">ไม่ล่ะ!! ขอบคุณ.</button>
            </form> 
          </div>
      </div>
      <div class="col-md-12 wow animated fadeInLeft" ng-if="saveMember.status === 'success'">
          <div class="box-register box-form">
            <form>
              <div class="input-field" align="center">
                <h1>ลงทะเบียนเสร็จสิ้น</h1>
              </div>
            </form> 
          </div>
      </div>
     
     <br>
  </div>
  </div>
  <div class="bg-form-login">
  <div class="container padding-style">
    <div class="row" ng-init="needToRister = false">
      <div class="col-md-4 wow animated fadeInLeft">
        <div class="welcome-block">
          <h3>ค้นหาเบี้ยประกันภัย</h3>								
          <div class="message-body">
            <form  ng-submit="submitSearchForm()">
              <div class="input-field">
                <label>รายละเอียดรถยนต์:</label>
              </div>
              <div class="input-field">
                <select class="form-control" ng-model="formSearch.year" data-select-search ng-change="selectWatch('year')" required>
                  <option value="">เลือกปี</option>
                  <option ng-repeat="year in data.Years">{{year.yName}}</option>
                </select>
              </div>
              <div class="input-field">
                <select class="form-control" ng-model="formSearch.brand" data-select-search ng-change="selectWatch('brand')" ng-show="formSearch.year !== ''" required>
                  <option value="">เลือกยี้ห้อ</option>
                  <option ng-repeat="brand in data.Brands" value="{{brand.bId}}">{{brand.bName}}</option>
                </select>
              </div>
              <div class="input-field">
                <select class="form-control" ng-model="formSearch.series" data-select-search ng-change="selectWatch('series')" ng-show="formSearch.brand !== ''" required>
                  <option value="">เลือกรุ่น</option>
                  <option ng-repeat="series in data.Series" value="{{series.sId}}">{{series.sName}}</option>
                </select>
              </div>
              <div class="input-field">
                <select class="form-control" ng-model="formSearch.main" data-select-search ng-change="selectWatch('main')" ng-show="formSearch.series !== ''" required>
                  <option value="">เลือกรายละเอียดรถยนต์</option>
                  <option ng-repeat="main in data.Mains" value="{{main.mId}}">{{main.mDetail}}</option>
                </select>
              </div>
              <button type="submit" class="btn btn-lg btn-block btn-theme white" ng-disabled="formSearch.main === ''" >ค้นหา</button>
            </form>  
          </div>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
        <div class="recent-works" ng-if="showStep === 0">
          <h3>ขั้นตอนการสมัคร</h3>
          <div id="works">
            <div>
              <p>
             1. ค้นหาเบี้ยประกัน
             <br>
             2. แล้วเลือก ลงทะเบียน หรือ เข้าสู่ระบบด้วยบัญชีที่มีอยู่แล้ว
             <br>
             3. แล้วกดซื้อประกัน
             <br>
             
            
             
              
              </p>
            </div>
          </div>
        </div>
        <div class="form-show" ng-if="showStep === 1">
          <h3>Step 1 - เลือกประเภทประกันภัย</h3> 
          <div>
            <div class="work-item" ng-repeat="level in data.Levels">
              <div class="car-item" ng-class="{'active': (formLevel.id == level.lvId)}">
                <p>
                  <label>
                    <input type="radio" value="{{level.lvId}}" ng-model="$parent.formLevel.id">
                    <i class="fa fa-car select-car" ng-class="{'active': (formLevel.id == level.lvId)}"></i> 
                    <span>ประกันภัยรถยนต์ชั้น {{level.lvType}}  </span> 
                    <span>ราคา {{level.lvPrice| filter:currency}} บาท ต่อปี </span> 
                    <span>รถยนต์อายุไม่เกิน {{level.lvLimit}} ปี</span>
                  </label>
                </p>
              </div>
            </div>

            <div class="work-item">
              <button ng-click="$parent.showStep = 2;
                    getLevelPackage();"  class="btn btn-lg btn-block btn-danger" ng-disabled="formLevel.id === ''" >ถัดไป</button>
            </div>
          </div>
        </div>
        <div class="form-show" ng-if="showStep === 2">
          <h3>Step 2 - เข้าสู่ระบบหรือลงทะเบียน</h3>
          <br>
          <button class="btn btn-primary btn-lg btn-block" ng-if="showFromLoginAndRegister === 0" ng-click="$parent.showFromLoginAndRegister = 1">เข้าสู่ระบบ</button>
          <button class="btn btn-default btn-lg btn-block" ng-if="showFromLoginAndRegister === 0" ng-click="$parent.showFromLoginAndRegister = 2">ลงทะเบียน</button>
          <div class="box-login box-form" ng-if="showFromLoginAndRegister === 1">
            <form  ng-submit="submitLoginForm()">
              <div class="input-field">
                <label>เข้าสู่ระบบ :</label>
              </div>
              <div class="form-group">
                <label>Username :</label>
                <input type="text" class="form-control" ng-model="formLogin.username" placeholder="Enter Username" required>
              </div>
              <div class="form-group">
                <label>Password :</label>
                <input type="password" class="form-control" ng-model="formLogin.password" placeholder="Enter Password" required>
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">เข้าสู่ระบบ</button>
            </form> 
          </div>
          <div class="box-register box-form" ng-if="showFromLoginAndRegister === 2">
            <form  ng-submit="submitRegisterForm()">
              <div class="input-field">
                <label>ลงทะเบียน :</label>
              </div>
              <div class="form-group">
                <label>ชื่อ-นามสกุล :</label>
                <input type="text" class="form-control" ng-model="formRegister.fullname" placeholder="ชื่อ-นามสกุล" required>
              </div>
              <div class="form-group">
                <label>ที่อยู่ :</label>
                <input type="text" class="form-control" ng-model="formRegister.address" placeholder="ที่อยู่" required>
              </div>
              <div class="form-group">
                <label>เบอร​์โทรศัพท์ :</label>
                <input type="text" class="form-control" ng-model="formRegister.tel" placeholder="เบอร​์โทรศัพท์" required>
              </div>
              <div class="form-group">
                <label>อีเมล์ :</label>
                <input type="text" class="form-control" ng-model="formRegister.email" placeholder="อีเมล์" required>
              </div>
              <div class="form-group">
                <label>Username :</label>
                <input type="text" class="form-control" ng-model="formRegister.username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <label>Password :</label>
                <input type="password" class="form-control" ng-model="formRegister.password" placeholder="Password" required>
              </div>
              <button type="submit" class="btn btn-default btn-lg btn-block">ลงทะเบียน</button>
            </form> 
          </div>
          <button class="btn btn-default btn-lg btn-block" ng-if="showFromLoginAndRegister !== 0" ng-click="$parent.showFromLoginAndRegister = 0">ยกเลิก</button>
        </div>
        <div class="form-show" ng-if="showStep === 3">
          <h3>Step 3 - ยืนยันการสั่งซื้อ</h3>
          <div class="work-item">
            <div class="car-item active">
              <p>
                <label>
                  <input type="radio">
                  <i class="fa fa-car select-car active"></i> 
                  <span>ประกันภัยรถยนต์ชั้น {{formSubmit.lvType}}  </span> 
                  <span>ราคา {{formSubmit.lvPrice| filter:currency}} บาท ต่อปี </span> 
                  <span>รถยนต์อายุไม่เกิน {{formSubmit.lvLimit}} ปี</span>
                </label>
              </p>
            </div>
          </div>
          <form>
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$parent.showStep = 4">ยืนยันการสั่งซื้อ</button>
          </form> 
        </div>
        <div class="form-show" ng-if="showStep === 4">
          <div align="center" class="box-login box-form">
            <h1 class="color-success">ขอบคุณที่ไว้วางใจ</h1>
          </div>
        </div>
      </div>
      <br>
      
      
    </div>
  </div>
</div>
</div>